.popup {
    display: inline-block;
    position: absolute;
    padding: var(--popup-padding, 8px);
    background-color: #f1f0f0;
    filter: grayscale(50%);
}



.layer {
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-layer-bgolor, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--modal-layer-zIndex, 1000);
    border: none;
}
.layer.nonModal {
    pointer-events: none;
}
.layer.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    --popup-padding: 4px;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    font-size: 10pt;
}
.menuItem .left {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 5px;
    width: 50px; /* Yes, for alignment, and we allow overflow */
    white-space: nowrap;
}
.menuItem:hover {
    background-color: #1ea7fd;
    border-radius: 5px;
    color: #eaeaea;
}
.menuItem .icon {
}
.menuItem .accelerator {
    opacity: 0.5;
}

.contextmenu {
    width: 200px;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    row-gap: 10px;
    resize: both;
    overflow: scroll;
}
.dialog .titlebar {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.dialog .titlebar .title {
    font-weight: bold;
}
.dialog .titlebar .corner {
    height: 100%;
    width: 15px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.dialog .titlebar .corner.control {
    cursor: pointer;
}
.dialog .content {
    flex-grow: 1;
    overflow: auto;
}



